*, *::before, *::after {
    box-sizing: border-box;
    font-family: "Leelawadee UI", sans-serif;
  }
  
  body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #FFF7E5;
  }
  
  .container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    padding: 10px;
    border: 2px solid #325D2F;
    border-radius: 10px;
  }
  
  .btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin-top: 20px;
  }

  .btn:nth-of-type(1) {
    background-color:  hsl(356, 83%, 51%);
    border: 1.5px solid hsl(356, 83%, 25%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
  }
  .btn:nth-of-type(2) {
    background-color: hsl(85, 52%, 50%);
    border: 1px solid hsl(85, 52%, 25%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
  }
  .btn:nth-of-type(3) {
    background-color: hsl(176, 100%, 32%);
    border: 1px solid hsl(176, 100%, 15%);
    border-radius: 5px;
    padding: 5px 10px;
    color: rgb(255, 255, 255);
    outline: none;
  }
  .btn:nth-of-type(4) {
    background-color: hsl(52, 94%, 56%);
    border: 1px solid hsl(52, 94%, 40%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
  }

  .btn:hover {
    box-shadow: 5px 5px gray
  }


  
